.chat-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #282c34; /* Light background color */
    padding: 10px;
    border-radius: 5px;
    overflow-y: auto;
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 70%;
}

.message.sender {
    background-color: #dcf8c6; /* Light green background for sender messages */
    align-self: flex-end;
    color: #000; /* Dark text color */
}

.message.receiver {
    background-color: #fff; /* White background for receiver messages */
    align-self: flex-start;
    color: #000; /* Dark text color */
    border: 1px solid #ccc; /* Light border for better visibility */
}

.message-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.message-input button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.message-input button:hover {
    background-color: #0056b3;
}
